.wrapper(
  ng-hide="hide"
)
  .logo {{application.name}}

  .links
    a(
      ui-sref="features.create"
    )
      .fa.fa-plus 
      | Request a Feature
    a(
      ui-sref="features"
    )
      .fa.fa-search
      | Search Features

  //- .menu
  //-   .fa.fa-gears 
  //-   span Cody Seibert
  //-   .fa.fa-caret-down
