#applications
  .container
    .row
      .col-md-12
        h1 Your Applications
        
    .row
      .col-md-12
        .application(
          ng-repeat="application in applications | orderBy : 'name'"
          ui-sref="applications.show({applicationId: application._id})"
        )
          .name {{application.name}}
