#applications-show
  .container
    .row
      .col-md-12
        h1 {{application.name}}
        
        button.btn.btn-secondary(
          ui-sref="features({applicationId: applicationId})"
        ) 
          i.fa.fa-eye
          | View Feature Requests
        
        button.btn.btn-secondary(
          ui-sref="applications.edit({applicationId: applicationId})"
        ) 
          i.fa.fa-pencil 
          | Edit
