#applications-show
  .container
    .row
      .col-md-12
        h1 {{application.name}}
        
        h2(
          ui-sref="features({applicationId: applicationId})"
        ) View Feature Requests
        
        button.btn.btn-primary(
          ui-sref="features.create({applicationId: applicationId})"
        ) Create Request
